[Unit]
Description=Lumin Service in .NET
# Requires=xyz.service
# After=xyz.service

# Location: 
# /etc/systemd/system/HeliosClockService.service

#some more help: 
#https://www.freedesktop.org/wiki/Software/PulseAudio/Documentation/User/SystemWide/

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/HeliosClock
ExecStart=/usr/share/dotnet/dotnet /home/ubuntu/HeliosClock/HeliosService.dll
User=ubuntu

[Install]
WantedBy=multi-user.target
