[Unit]
Description=Lumin Service in .NET
# Requires=xyz.service
# After=xyz.service

# Location: 
# /etc/systemd/system/LuminServerService.service


[Service]
Type=simple
WorkingDirectory=/home/ubuntu/LuminServer
ExecStart=/usr/share/dotnet/dotnet /home/ubuntu/LuminServer/LuminServer.dll
User=ubuntu

[Install]
WantedBy=multi-user.target
